body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
body{
backround-color:yellow;
color:red;}
.ore{
color:aqua;
background-color:orange;
}
.ora{
color:black;
}
.ale{
color:#7aed3b;
background-color:#ed913b;
text-size:bold;

}
.mla{
color:#7a0a4a;
background-color:#3bedb2;

}
.MLE{
background-color:red;

}
.tie{
background-color:#7aed3b;
}
